html {

}

body {
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	color: #4D4D4D;
}

h2 {
	font-family: "Arvo", Helvetica, Arial, sans-serif;
	color: #00ACDB;
	font-weight: 400;
}

h4 {
	font-weight: 400;
}

a:hover {
	text-decoration: none;
}

.container {
	height: auto;
}

.hero-unit {
	background-image: url("../img/new_york_city.jpg"); 
	background-size: 100%;
	background-position-y: -230px;
	height: 300px;
	margin-top: 20px;
	margin-bottom: 0;
	border-radius: 0;
}

.btn.btn-large.btn-blue {
	font-weight: bold;
	font-size: 1.5em;
	padding: 15px 36px 15px 36px;
}

.btn.btn-large.btn-blue.btn-search {
	width: 232px;
	height: 50px;
	font-family: "ubuntu";
}

.btn.btn-large.btn-blue.pull-right {
	margin-top: 280px;
	margin-right: -30px;
}

.brand {
	background-image: url("../img/gatheringUP.png");
	width: 160px;s
}

.navbar .brand {
	margin-left: -6px;
	padding-right: 30px;
	text-indent: -999px;
	background-repeat: no-repeat;
}

.span3.catogories {
	text-align: center;
}

.comment_box {
	background-color: #00ACDB;
	height: 50px;
	width: auto;
	position: relative;
	margin-bottom: 60px;
}

.hero_comment.pull-right {
	padding: 4px 19px;
	color: white;
	font-weight: 400;
}

.Info_text {

	margin: 0 auto;
	width: 50%;
	text-align: center;
	padding: 30px 0px 30px;
}

.box {
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: #F2F2F2;
}


.top-stripe {
	height: 4px;
	background-color: #E71B75;
}

.searchFilter {
	color: #E71B75;
}

.eventModule  {
	background-color: #F9F9F9;
	height: 120px;
	margin-bottom: 30px;
}
.dateToday {
	background-color: #F9F9F9;
}

.eventText {
	font-size: 1.3em;
	line-height: 1.5em;
	padding: 16px 25px 35px 20px;
}

#dateDisplay {
	height: 80px;
	width: 80px;
	background-color: #00ACDB;
	position: absolute;
	margin: 20px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th  {
	  background-color: #f9f9f9;
	  color: #222;
 }



  	/* Search.css Overrides */

div.eventmain {
	width: 855px;
	border-radius: 0px;
	box-shadow:none;
	font-size: 1.2em;
	line-height: 1.4em;
	padding: 15px;
	cursor: pointer;
}

div.boxdate {
	background-color:#00ACDB;	
	border: none;
	min-height: 80px;
	min-width: 80px;
	color: white;
	font-family: arvo;
	line-height: 2em;
	margin-right: 16px;
}
div.eventtitle {
	color: #4D4D4D;
	font-size: 1.15em;
	line-height: 1.4em;
	margin-top: 5px;

}

div.eventbody a {
	color: black;
	font-weight: b
}

#expand {
	display: none;
}

.eventmain.pageNumber {
	text-indent: 10px;
}

.foodSearch {
	background-color: #F9F9F9;
	text-align: center;
	padding-bottom: 1px;
	padding-top: 20px;
	border: 1px	#E0E0E0 solid; 
}

.feelLuck {
	background-color: #F9F9F9;
	text-align: center;
	padding-bottom: 1px;
	padding-top: 20px;
	border: 1px	black; 
	margin-top: 25px;
	border: 1px	#E0E0E0 solid; 
}

.placeSearch {
	background-color: #F9F9F9;
	text-align: center;
	padding-bottom: 1px;
	padding-top: 20px;
	border: 1px	#E0E0E0 solid;
	margin-bottom: 20px; 
}

.nationalSearch{
	background-color: #F9F9F9;
	text-align: center;
	padding-bottom: 1px;
	padding-top: 20px;
	border: 1px	#E0E0E0 solid; 
}


input.SearchForm {
	padding: 12px;
	border-radius: 0px;
	font-family: "ubuntu";
	font-size: 1.3em;
}

.Mapbox {
	margin-top: 30px;
}


  	/* Button Style Overrides */

.btn-blue {
  background-color: hsl(193, 100%, 43%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ACDB", endColorstr="#00ACDB");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00ACDB), to(#00ACDB));
  background-image: -moz-linear-gradient(top, #00ACDB, #00ACDB);
  background-image: -ms-linear-gradient(top, #00ACDB, #00ACDB);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00ACDB), color-stop(100%, #00ACDB));
  background-image: -webkit-linear-gradient(top, #00ACDB, #00ACDB);
  background-image: -o-linear-gradient(top, #00ACDB, #00ACDB);
  background-image: linear-gradient(#00ACDB, #00ACDB);
  border-color: #00ACDB #00ACDB hsl(193, 100%, 43%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
  border-radius: 0px;
}

.btn-facebook {
  background-color: hsl(221, 44%, 42%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b5998", endColorstr="#3b5998");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#3b5998), to(#3b5998));
  background-image: -moz-linear-gradient(top, #3b5998, #3b5998);
  background-image: -ms-linear-gradient(top, #3b5998, #3b5998);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b5998), color-stop(100%, #3b5998));
  background-image: -webkit-linear-gradient(top, #3b5998, #3b5998);
  background-image: -o-linear-gradient(top, #3b5998, #3b5998);
  background-image: linear-gradient(#3b5998, #3b5998);
  border-color: #3b5998 #3b5998 hsl(221, 44%, 42%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
  border-radius: 0px;
	background-repeat: no-repeat;
	padding: 8px 26px 8px 12px;
} 
.solidbox {
	background-color: #F9F9F9;
	padding: 15px 20px 5px 20px;
	font-size: 1.2em;
	line-height: 1.4em;
	margin-bottom: 15px;
	border-bottom-style: solid;
	border-color: #00ACDB;
	border-width: 8px;
}
.actions {
	margin-top: 12px;
}

.scrollspy-example {
	height: 695px;
	overflow: auto;
	position: relative;
}


#spaceholder {
	height: 96px;
}

#myModalLabel {
	text-align: center;
	padding-bottom: 3px;
}
.registerModal {
	padding: 10px 21px 3px 15px;
	border-bottom: none;
}

#myModal {
	background-color: #f9f9f9;
	border-radius: 0px;
	margin-top: -45px;
	height: 570px
}

.modal-body {
	max-height: 430px;
}

.modal-header {
	border-bottom: 0px;
}

.modal-footer {
	border: 0px;
	background-color: none;

}


input.squareCorners {
	border-radius: 0px
}

.form-horizontal .control-group {
	margin-bottom: 11px;
}

.breakline {
	width: 80%;
	height: 1px;
	background-color: #e5e5e5;
	margin: auto;
	border-bottom: 1px solid #ffffff;
}

.helper {
	width: 120px;
	float: right;
	font-size: 0.8em;
	line-height: 0.9em;
	margin-top: 6px;
}

.dropdown-menu {
	border-radius: 0px;
	margin-top: 45px;
	margin-right:-1px;
	padding: 15px;
	background-color: #f9f9f9;
}

.SignInField {
	padding: 0px 0px 5px 0px;
}

.myModal2 {
	background-color: red;
}

.caret {
	display: inline-block;
	border-top: 7px solid rgb(255, 255, 255);
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	margin-left: 5px;	
	vertical-align: middle;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #00ACDB;
  background-image: -moz-linear-gradient(top, #00ACDB, #00ACDB);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00ACDB), to(#00ACDB));
  background-image: -webkit-linear-gradient(top, #00ACDB, #00ACDB);
  background-image: -o-linear-gradient(top, #00ACDB, #00ACDB);
  background-image: linear-gradient(to bottom, #00ACDB, #00ACDB);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.datebook {
}

div.grandcentral {
	width: 562px;
	box-shadow: none;
	background-color: white;
	margin-top: -30px;	
	padding: 7px;
}

.yourBookmarks {
	overflow: auto;
	min-height: 525px;
	height: 80%;
	position: absolute;
	width: 270px;
}

.eventbox > a {
	font-weight: bold;
}

.eventbox > a:hover {
	color: #E71B75;
}

.EventListing {
	max-height: 350px;
	overflow: auto;
	margin-bottom:20px;
}

.icon-chevron-right {
	background-position: -456px -72px;
	float: right;
	vertical-align: text-bottom;
	margin-top: 12px;
}

.fc-event-hori {
	border-width: 0px 0;
}

.eventForm {
	padding-left: 28px;
}

#CreateEvent {
	border-radius: 0px;
	background-color: #f9f9f9;
	padding-bottom: 10px;
}

.span5.squareCorners {
	border-radius: 0px;
}

.form-signin {
  max-width: 500px;
  padding: 0px 29px 29px;
  margin: 0 auto 20px;
}

.contactForm {
	width: 100%;
}

input.form-large {
	padding:10px;	
	font-size: 1.2em;
	border-radius: 0px;
}

textarea.form-large {
	padding:10px;	
	font-size: 1.2em;
	border-radius: 0px;
}

.footer {
	text-align: center;
	position: relative;
	padding: 10px 5px;
	border-bottom:5px solid #E71B75;
	background-color: #1b1b1b;
	background-image: -moz-linear-gradient(top, #222222, #111111);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
	background-image: -webkit-linear-gradient(top, #222222, #111111);
	background-image: -o-linear-gradient(top, #222222, #111111);
	background-image: linear-gradient(to bottom, #222222, #111111);
	background-repeat: repeat-x;
	color: white;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

a{
	color: #999;
}

.footer, .push {
	height: 90px; /* .push must be the same height as .footer */
}

html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -90
	px; /* the bottom margin is the negative value of the footer's height */
}

  /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Carousel base class */
.carousel {
  margin-bottom: 60px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}
.carousel-control {
  height: 80px;
  margin-top: 20px;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
}

.carousel .item {
  height: 500px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
color: #ffffff;
background-color: #00ACDB;
}
