	/* Font Style Overrides */

body {
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	color: #4D4D4D;
}

h2 {
	font-family: "Arvo", Helvetica, Arial, sans-serif;
	color: #00ACDB;
	font-weight: 400;
}

h4 {
	font-weight: 400;
}

a:hover {
	text-decoration: none;
}

.hero-unit {
	background-image: url("../img/new_york_city.jpg"); 
	background-size: 100%;
	background-position-y: -230px;
	height: 300px;
	margin-top: 20px;
	margin-bottom: 0;
	border-radius: 0;
}

.btn.btn-large.btn-blue {
	font-weight: bold;
	font-size: 1.5em;
	padding: 15px 36px 15px 36px;
}

.btn.btn-large.btn-blue.btn-search {
	width: 232px;
	height: 50px;
	font-family: "ubuntu";
}

.btn.btn-large.btn-blue.pull-right {
	margin-top: 280px;
	margin-right: -30px;
}

.brand {
	background-image: url("../img/gatheringUP.png");
	width: 160px;s
}

.navbar .brand {
	margin-left: -6px;
	padding-right: 30px;
	text-indent: -999px;
	background-repeat: no-repeat;
}

.span3.catogories {
	text-align: center;
}

.comment_box {
	background-color: #00ACDB;
	height: 50px;
	width: auto;
	position: relative;
	margin-bottom: 60px;
}

.hero_comment.pull-right {
	padding: 4px 19px;
	color: white;
	font-weight: 400;
}

.Info_text {

	margin: 0 auto;
	width: 50%;
	text-align: center;
	padding: 30px 0px 30px;
}

.box {
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: #F2F2F2;
}


.top-stripe {
	height: 4px;
	background-color: #E71B75;
}

.searchFilter {
	color: #E71B75;
}

.eventModule  {
	background-color: #F9F9F9;
	height: 120px;
	margin-bottom: 30px;
}
.dateToday {
	background-color: #F9F9F9;
}

.eventText {
	font-size: 1.3em;
	line-height: 1.5em;
	padding: 16px 25px 35px 20px;
}

#dateDisplay {
	height: 80px;
	width: 80px;
	background-color: #00ACDB;
	position: absolute;
	margin: 20px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th  {
	  background-color: #00ACDB;
	  color: white;
 }



  	/* Search.css Overrides */

div.eventmain {
	width: 855px;
	border-radius: 0px;
	box-shadow:none;
	font-size: 1.2em;
	line-height: 1.4em;
	padding: 15px;
	cursor: pointer;
}

div.boxdate {
	background-color:#00ACDB;	
	border: none;
	min-height: 80px;
	min-width: 80px;
	color: white;
	font-family: arvo;
	line-height: 2em;
	margin-right: 16px;
}
div.eventtitle {
	color: #4D4D4D;
	font-size: 1.15em;
	line-height: 1.4em;
	margin-top: 5px;

}

div.eventbody a {
	color: black;
	font-weight: b
}

#expand {
	display: none;
}

.eventmain.pageNumber {
	text-indent: 10px;
}

.foodSearch {
	background-color: #F9F9F9;
	text-align: center;
	padding-bottom: 1px;
	padding-top: 20px;
	border: 1px	#E0E0E0 solid; 
}

.feelLuck {
	background-color: #F9F9F9;
	text-align: center;
	padding-bottom: 1px;
	padding-top: 20px;
	border: 1px	black; 
	margin-top: 25px;
	border: 1px	#E0E0E0 solid; 
}

.placeSearch {
	background-color: #F9F9F9;
	text-align: center;
	padding-bottom: 1px;
	padding-top: 20px;
	border: 1px	#E0E0E0 solid;
	margin-bottom: 20px; 
}

.nationalSearch{
	background-color: #F9F9F9;
	text-align: center;
	padding-bottom: 1px;
	padding-top: 20px;
	border: 1px	#E0E0E0 solid; 
}


input.SearchForm {
	padding: 12px;
	border-radius: 0px;
	font-family: "ubuntu";
	font-size: 1.3em;
}

.Mapbox {
	margin-top: 30px;
}


  	/* Button Style Overrides */

.btn-blue {
  background-color: hsl(193, 100%, 43%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ACDB", endColorstr="#00ACDB");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00ACDB), to(#00ACDB));
  background-image: -moz-linear-gradient(top, #00ACDB, #00ACDB);
  background-image: -ms-linear-gradient(top, #00ACDB, #00ACDB);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00ACDB), color-stop(100%, #00ACDB));
  background-image: -webkit-linear-gradient(top, #00ACDB, #00ACDB);
  background-image: -o-linear-gradient(top, #00ACDB, #00ACDB);
  background-image: linear-gradient(#00ACDB, #00ACDB);
  border-color: #00ACDB #00ACDB hsl(193, 100%, 43%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
  border-radius: 0px;
}

.solidbox {
	background-color: #F9F9F9;
	padding: 15px 20px 5px 20px;
	font-size: 1.2em;
	line-height: 1.4em;
	margin-bottom: 15px;
	border-bottom-style: solid;
	border-color: #00ACDB;
	border-width: 8px;
}
.actions {
	margin-top: 12px;
}

.scrollspy-example {
	height: 695px;
	overflow: auto;
	position: relative;

}

.footer {
	text-align: center;
	padding: 10px 0;
	margin-top: 30px;
	border-bottom: 5px solid #E71B75;
	background-color: #1b1b1b;
	background-image: -moz-linear-gradient(top, #222222, #111111);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
	background-image: -webkit-linear-gradient(top, #222222, #111111);
	background-image: -o-linear-gradient(top, #222222, #111111);
	background-image: linear-gradient(to bottom, #222222, #111111);
	background-repeat: repeat-x;
	color: white;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}
